<!DOCTYPE html>
<html ng-app="ov" ng-controller="MainController" ng-strict-di>
  <head>
    <title ng-bind="title | translate"></title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{#css}}
    <link rel="stylesheet" type="text/css" href="{{.}}">
    {{/css}}

    <script>
      var version = {{{version}}};
      var plugins = [{{{angularJsModules}}}];
    </script>
  </head>

  <body ng-cloak>
    <header ng-if="displayMainMenu"  class="header navbar navbar-default navbar-fixed-top" role="banner">
      <!-- Top Navigation Bar -->
      <div class="container">

        <!-- Only visible on smartphones, menu toggle -->

        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" ng-click="toggleResponsiveMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>


        <!-- Logo -->
        <a class="navbar-brand" href="/admin">
          <img alt="OpenVeo" src="/images/logo-white.png">
        </a>
        <!-- /logo -->



        <!-- /Sidebar Toggler -->
        <!-- Top Right Menu -->
        <ul class="nav navbar-nav navbar-right ">

          <li class="dropdown language" dropdown is-open="menuDropdownIsOpen">
            <a href="#" class="dropdown-toggle" dropdown-toggle role="button"  ng-disabled="disabled"><span ng-bind="language | translate"> </span> <i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="language in languages" ng-class="{'active' : language.active}">
                <a href="#" ng-click="changeLanguage(language.value)" ng-bind="language.label | translate"></a>
              </li>
            </ul>
          </li>



          <li>
            <a href="/logout" ng-click="logout()" ng-bind="'MENU.LOGOUT' | translate"></a>
          </li>
        </ul>
      </div>
    </header>

    <div id="wrapper" ng-class="{'toggled' : !isResponsiveMenuClosed}">
      <div ng-if="displayMainMenu" id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li ng-if="!item.subMenu || !item.subMenu.length" ng-repeat="(holder, item) in menu" ng-class="{'active' : item.active}">
            <a href="[[item.path]]" ng-bind="item.label | translate"></a>
          </li>
          <li ng-if="item.subMenu && item.subMenu.length" ng-repeat="(holder, item) in menu"  ng-class="{'open':indexOpen == $index, 'current' : item.active}">
            <a href="#" ng-click="toggleSidebarSubMenu($index)"><i class="icon-angle-down"></i><span ng-bind="item.label | translate"></span></a>
            <ul class="sub-menu">
              <li ng-repeat="subItem in item.subMenu" ng-class="{'current' : subItem.active}">

                <a href="[[subItem.path]]" ><i class="icon-angle-right"></i><span ng-bind="subItem.label | translate"></span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div id="page-content-wrapper" ng-click="swiping ? ( swiping = false ) : closeResponsiveMenu()" ng-swipe-disable-mouse ng-swipe-left="swiping=true;closeResponsiveMenu()" ng-swipe-right="swiping=true;openResponsiveMenu()">
        <div class="container">
          <div  ng-if="displayMainMenu" id="content">
            <div class="alert-container">
            <alert ng-repeat="alert in alerts" type="[[alert.type]]" close="alert.close()"><span ng-bind="alert.msg"></span></alert>
            </div>
            <div ng-view ng-class="{'vertical-center-row': verticalAlign}"></div>

          </div>
          <div ng-if="!displayMainMenu" class="login-screen">
              <alert ng-repeat="alert in alerts" type="[[alert.type]]" close="alert.close()"><span ng-bind="alert.msg"></span></alert>
              <div ng-view ng-class="{'vertical-center-row': verticalAlign}"></div>
          </div>
        </div>
      </div>
    </div>


    {{#librariesScripts}}
    <script type="text/javascript" src="{{.}}"></script>
    {{/librariesScripts}}

    {{#scripts}}
    <script type="text/javascript" src="{{.}}"></script>
    {{/scripts}}

  </body>

</html>