# Linux
.directory
*~
.*.swp

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
Desktop.ini

# Windows XP
ehthumbs.db

# Logs
logs
*.log

# Project npm dependencies
node_modules/*

# Bower libraries
public/lib

# IDE
nbproject/
config/*

# Deliver
dump/
build/

# Sass
.sass-cache/

# Compiled file
/public/js/*
/public/css/*

# Documentation (yuidoc)
doc