# Linux
# *.swp is already ignored by npm
.directory
*~

# OS X
# .DS_Store* and ._* are already ignored by npm
Icon?

# Windows
Thumbs.db
Desktop.ini
ehthumbs.db

# Logs
*.log

# Project npm dependencies
/node_modules

# Bower libraries
/assets/lib

# IDE
nbproject
.idea/

# Build
/build
/tests/client/e2eTests/build

# Sass
/.sass-cache

# Unit tests
/tests

# Front JavaScript files
/app/client/admin/compass
/app/client/admin/js

# Documentation
/docs
/mkdocs.yml
/site

# Grunt files
/Gruntfile.js
/tasks
/.grunt

# Nodemon
/nodemon.json

# Git
.gitignore
.gitattributes

# Eslint
.eslintrc
