{

  "env": {

    // Add browser environment globals
    "browser": true

  },
  "globals": {

    // Add angular and tinyMCE to environment globals but do not authorize to overwrite it
    angular: false,
    tinyMCE: false

  },
  "rules": {

    // Do not require consistent this as AngularJS encourages to use "ctrl" for controllers
    "consistent-this": 0

  }

}