{

  "env": {
    
    // Add browser environment globals
    "browser": true
    
  },
  "globals": {
  
    // Add angular to environment globals but do not authorize to overwrite it
    angular: false
    
  }
  
}