<!DOCTYPE html>
<html>
  <head>
    <title>OpenVeo - Not Authorized</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  </head>

  <body>
    
    <div class="container">
      <div class="jumbotron">
        <h1>Permission denied</h1>
        <p>You don't have permission to access this page, please <a href="/login">sign in</a></p>
      </div>
    </div>

  </body>
  
</html>