{

  "env": {

    // Add browser environment globals
    "browser": true,

    // Add mocha environment globals
    "mocha": true,

    // Enable ECMAScript 6 features
    "es6": true

  },
  "globals": {

    // Add angular to environment globals but do not authorize to overwrite it
    angular: false,
    inject: false,

    // Add chai to environment globals but do not authorize to overwrite it
    chai: false,
    assert: false,

    // Add protractor environment globals
    "element": true,
    "by": true,
    "protractor": true,
    "browser": true

  },
  "rules": {

    // Require JSDoc comment
    "require-jsdoc": 0

  }

}
