<div class="detail" ng-controller="FormEditController as fec">
  <form novalidate class="form-horizontal" name="fec.edit" ng-init='fec.init(row);'>
    <formly-form model="fec.model" fields="fec.fields" options="fec.options" form="fec.form" root-el="form">
      <div class="form-submit-bouton col-xs-12 col-md-8 col-md-push-4" ng-if="fec.conditionEditDetail(row)">
        <!-- button to show form -->
        <button type="button" class="btn btn-default" ng-click="fec.editForm()" ng-show="!fec.options.formState.showForm" ng-bind="'CORE.UI.FORM_EDIT' | translate"></button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="fec.options.formState.showForm">
          <button type="submit" class="btn btn-primary" ng-disabled="fec.form.$invalid || fec.form.$waiting || fec.model.saving" ng-bind="'CORE.UI.FORM_SAVE' | translate" ng-click="fec.onSubmit()"></button>
          <button type="button" class="btn btn-default" ng-disabled="fec.form.$waiting || fec.model.saving" ng-click="fec.cancelForm()" ng-bind="'CORE.UI.FORM_CANCEL' | translate"></button>
        </span>
      </div>
    </formly-form>
  </form>
</div>