#loginForm{ 
  box-shadow: 0px 0px 0px 0px transparent;
  top:0px;
  position:relative;
  @include single-transition(all, 0.4s, ease);
  padding: 0 0 10px; 

  button{ 
    width: 100%;
  }
  img{ 
    display: block; 
    margin: 0 auto; 
    padding: 20px 0;
  }
  &:hover{
     top:-6px;
     box-shadow: 0px 4px 10px 1px #ccc;
     background: white;
  }
}

.login-screen{
  margin: 100px auto 30px auto;
  position: relative;
}