// specific css for mobile mode
@mixin mobile (){
	@include mq($until: tablet){
		@content;
	}
}

// specific css for mobile mode landscape
@mixin mobile-landscape (){
	@include mq($until: tablet, $and: '(orientation: landscape)') {
        @content;
    }
}

// specific css for mobile and tablet mode
@mixin mobile-and-tablet (){
	@include mq($until: desktop) {
        @content;
    }
}

// specific css for tablet mode
@mixin tablet (){
	@include mq(tablet, desktop){
		@content;
	}
}

// specific css for tablet mode
@mixin desktop-and-tablet (){
	@include mq($from: tablet){
		@content;
	}
}

// specific css for desktop mode
@mixin desktop () {
   @include mq($from: desktop){
		@content;
	}
}

// specific css for print display
@mixin print {
  @media print {
    @content;
  }
}