.table{
  .checkbox-row{
    text-align: center;
    width: 5%;
  }
  &>thead{
    &>tr{
      &> th{

        padding: 0 15px;
        line-height: 37px;
        @include single-transition(all, 0.4s);
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, white 50%, $brand-primary 50%);
        @include mobile(){
          padding: 0 5px;
        }
        &.sortable{
          cursor:pointer;
        }
        &.active{
          background-position: 0 100%;
          color: white;
        }
        &.last{
          text-align: center;
        }
      }
    }
  }
  &>tbody{
    &>tr{
      &> td{
        padding: 0 20px;
        line-height: 37px;
        .cell-text{
          line-height: 24px;
          font-weight:bold;
        }
        &:nth-of-type(2){
          padding-left:0px;
          background: transparent;
        }
        @include single-transition(color, 0.2s);
        @include mobile(){
          padding: 0 0px;
          & > div, & > span, &>ng-include{
            padding: 0 0 0 7px;
          }
        }
      }
      &:hover> td.first{
        color:$brand-primary;

      }
    }
  }
  .table-cell{
    cursor:pointer;
  }
}

/* List details */
.detail {
  line-height: 16px;
  .literal span{
    top: 7px;
    position: relative;
    @include mobile-and-tablet(){
      top:0px;
    }
  }
  .formly-field{
     line-height:initial;
  }
}

.table-striped > tbody > tr{
  &:nth-of-type(odd){
    background: transparent;
  }
  &.odd{
    background-color:#eee;
  }
  &.open-tab > td{
    border:0 none;
    @include mobile(){
      padding:0 10px 0;
    }
  }
}

.open-tab-animate {
  @include single-transition(all, 0.4s);

  .detail>form{
    overflow:hidden;

    opacity:1;
    @include single-transition(all, 0.4s);
  }

  &.ng-enter {
    .detail>form{
      max-height:0px;
      opacity:0;
    }
  }
  &.ng-enter-active{
    .detail>form{
      max-height:800px;
      opacity:1;
    }
  }

  &.ng-leave {
    .detail>form{
      max-height:800px;
      opacity:1;
    }
  }

  &.ng-leave-active{
    .detail>form{
      max-height:0px;
      opacity:0;
    }
  }

}



.datatable{
  .search-form{
    margin: 20px 0px;
    margin-left: 52px;
    border-left: 1px solid #eee;
    @include mobile(){
      max-width: 480px;
    }
    @include single-transition(margin-left, 0.4s);
    &.open{
      margin-left: 120px;
      @include mobile(){
        max-width: 480px;
      }
    }
  }
  .search-title{
    margin: 15px;
    display: inline-block;
    &.cursor{
      cursor:pointer;
       @include single-transition( color,0.2s);
      &:hover{
        color:$brand-primary;
      }
    }
  }
  .search-fields{
    display: inline-block;
    width: 100%;
    @include single-transition(max-height, 0.4s);

    &.ng-hide-remove{
      overflow: hidden;
      padding-bottom: 5px;
      display: block !important;
      max-height:0px;
      &.ng-hide-remove-active {
        max-height:200px;
      }
    }
    &.ng-hide-add {
      overflow: hidden;
      padding-bottom: 5px;
      display: block !important;
      max-height:200px;
      &.ng-hide-add-active{
        max-height:0px;
      }
    }


    .field{
      .control-label{
        @include single-transition(all, 0.2s);
      }

      &:hover .control-label{
        color:$brand-primary;
      }
    }
  }

  .allactions {
    float: left;
    position: absolute;
    bottom: 8px;
    width: 39px;
    @include single-transition(all, 0.4s);
    @include transition-delay(0.2s);
    &.displayAction{
      width: 120px;
    }
    &.searchOpen{
      @include transition-delay(0s);
      bottom: 4px;
    }

    .dropdown{
      display: inline;
    }
    .dropdown-toggle {
      line-height: 22px;
      border-left: 0px none;
    }
    .check-btn {
      z-index:10;
      cursor:pointer;
      background-color: #fff;
      input{
        cursor:pointer;
      }
    }

    &.ng-enter{
      left:-10px;
      opacity:0;
      &.ng-enter-active{
        left:0px;
        opacity:1;
      }
    }
    &.ng-leave{
      opacity:1;
      left:0px;
      &.ng-leave-active{
        opacity:0;
        left:-10px;
      }
    }
  }

  .control-block{
    position: relative;
  }
  .animate-action{
    @include transition(all 0.4s ease);
    position:absolute;

    &.ng-enter{
      width:0px;
      left:-20px;
      opacity:0;
      &.ng-enter-active{
        width:70px;
        left:35px;
        opacity:1;
      }
    }
    &.ng-leave{
      width:70px;
      opacity:1;
      left:35px;
      &.ng-leave-active{
        width:0px;
        opacity:0;
        left:-20px;
      }
    }
  }
}
