

.angular-ui-tree-handle {
  background: white;
  border: 1px solid #ddd;
  color: #006DA3;
  padding: 10px 10px;
  &[data-nodrag]{
    cursor:default;
  }
  + ol .angular-ui-tree-handle{
    background: #f6f6f6;
    &:hover{
      
    }
    
    + ol .angular-ui-tree-handle{
      background: #f0f0f0;
    }
  }
  input{
    width: 80%;
    display: inline;
  }
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.angular-ui-tree-nodes{
  @include single-transition(all, 0.4s);
   
    &.hidden-add{ 
      display: block !important;
      overflow: hidden;
      max-height: 400px;
      
      &.hidden-add-active{ 
         max-height: 0px;
      }
    }
     &.hidden-remove{
      display: block !important;
      overflow: hidden;
      max-height: 0px;
      &.hidden-remove-active {
         max-height: 400px;
      }
    }
}