<div class="col-xs-8 detail" ng-controller="FormEditController as fec">
  <form novalidate class="form-horizontal" ng-init='fec.init(row);'>
    <formly-form model="fec.model" fields="fec.fields" options="fec.options" form="fec.form" editable-form onaftersave="fec.onSubmit()" root-el="form">
      <div class="form-submit-bouton col-xs-4 col-xs-push-2">
        <!-- button to show form -->    
        <button type="button" class="btn btn-default" ng-click="fec.form.$show()" ng-show="!fec.form.$visible">
          Edit
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="fec.form.$visible">

          <button type="submit" class="btn btn-primary" ng-disabled="fec.form.$waiting">
            Save
          </button>
          <button type="button" class="btn btn-default" ng-disabled="fec.form.$waiting" ng-click="fec.form.$cancel()">
            Cancel
          </button>
        </span>
      </div>
    </formly-form>
  </form>
</div>