<div class="col-xs-12 detail" ng-controller="FormEditController as fec">
   <form novalidate class="form-horizontal" ng-init='fec.model = row'>
    <formly-form model="fec.model" fields="fec.fields" options="fec.options" form="fec.form" editable-form onaftersave="fec.onSubmit()" root-el="form">
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="fec.form.$show()" ng-show="!fec.form.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="fec.form.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="fec.form.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="fec.form.$waiting" ng-click="fec.form.$cancel()">
          Cancel
        </button>
      </span>
    </formly-form>
  </form>
</div>