<div class="col-sm-4"></div>
<div class="col-sm-4" id="loginForm">
  <img src="images/logo.png" alt="OpenVeo">
  <div class="col-sm-12">

    <div ng-controller="LoginController">
      <form name="loginForm" ng-submit="signIn()" novalidate>

        <div ng-show="onError" class="alert alert-danger ng-hide" role="alert" ng-bind="'CORE.LOGIN.ERROR' | translate"></div>

        <div class="form-group" ng-class="{'has-error': loginForm.userEmail.$invalid && loginForm.$submitted}">
          <label ng-bind="'CORE.LOGIN.LOGIN' | translate"></label>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
            <input type="text" name="userEmail" class="form-control" placeholder="{{'CORE.LOGIN.LOGIN_DESCRIPTION' | translate}}" ng-model="userEmail" ng-model-options="{updateOn: 'blur'}" required>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.$submitted}">
          <label ng-bind="'CORE.LOGIN.PASSWORD' | translate"></label>
          <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <input type="password" name="password" class="form-control" placeholder="{{'CORE.LOGIN.PASSWORD_DESCRIPTION' | translate}}" ng-model="password" ng-model-options="{updateOn: 'blur'}" required>
          </div>
        </div>

        <div class="form-group">
          <select class="form-control" ng-model="language" ng-change="changeLanguage(this.language)" ng-options="language.value as (language.label | translate) for language in languages">
          </select>
        </div>

        <button type="submit" class="btn btn-primary" ng-bind="'CORE.LOGIN.SUBMIT' | translate"></button>
      </form>
    </div>

  </div>
</div>
<div class="col-sm-4"></div>