<div class="users">
  <h2 ng-bind="'CORE.USERS.TITLE' | translate"></h2>
  <div class="well well-lg" ng-bind="'CORE.USERS.INFO' | translate"></div>
  <hr/>
  <div ng-if="rights.add">
    <div class="container">
      <div class="add-form col-xs-12 col-md-8">
        <div class="add-element" ng-init="isCollapsed = true;" ng-click="isCollapsed = !isCollapsed">
          <span class="glyphicon" ng-class="isCollapsed?'glyphicon-plus':'glyphicon-minus'"aria-hidden="true"></span>
          <span ng-bind="'CORE.USERS.ADD_USER' | translate"></span></div>
        <div uib-collapse="isCollapsed">
          <ng-include src="'views/elements/form.html'"></ng-include>
        </div>
      </div>
    </div>
    <hr/>
  </div>
  <ng-include src="'views/elements/dataTable.html'"></ng-include>
</div>